body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.logo img {
    max-width: 100px;
    margin-right: 20px;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
#menu h2 {
    margin-bottom: 20px;
}

#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 600px; 
}

#menu ul li {
    background-color: #f8f8f8;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

#menu ul li a {
    text-decoration: none;
    color: #333;
}

#menu ul li a:hover {
    text-decoration: underline;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    align-items: center;
}


#reseña {
    text-align:center;
}

#reseña img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

h2 {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.redes-sociales a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-items: center;
}

#contacto form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto; 
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 50%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    width: 150px;
}

button:hover {
    background-color: #555;
}

#quienes-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#quienes-somos .descripcion {
    border: 4px solid #333; /* Borde grueso */
    padding: 20px;
    max-width: 800px; /* Ancho máximo del texto */
    box-sizing: border-box;
    margin-top: 20px;
}

/* Media Queries */


@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    footer {
        position: relative;
    }
}


@media (min-width: 600px) and (max-width: 900px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    footer {
        position: relative;
    }
}

@media (min-width: 900px) {
    header {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    nav ul {
        flex-direction: row;
        gap: 20px;
    }

    footer {
        position: fixed;
    }
}